<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kincodi.yarqay_mobile">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:allowBackup="true">
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".presentation.ui.activities.ListActivity">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".presentation.ui.activities.MapActivity2" />
        <activity
            android:name=".presentation.ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>